doctype html

-var PlainStraw = { length : {min:55, max:65, val:55, name : '管身长度', type: 'slider'}, 	radius: {min: 2, max:4, val:3, name: '吸管半径', type: 'slider'} }

-var BendyStraw = {	bellowLength: {min:0.75, max:1.5, val:0.8, name: '弯折长度', type: 'slider'},	radius: {min: 2, max:4, val:3, name: '吸管半径', type: 'slider'},	stubLength : {min:10, max:20, val:10, name : '管嘴长度', type: 'slider'},	bodyLength : {min:55, max:75, val:65, name : '管身长度', type: 'slider'},	lengthAngle: {min:0, max: Math.PI/50, val:Math.PI/80, name : '弯折角度', type: 'slider'} };

-var models = {PlainStraw: {name: "直吸管", param : PlainStraw}, BendyStraw: {name: "弯吸管", param:BendyStraw}}



html(lang="en")
	head
		meta(charset="utf-8")
		title('Moquet Dezine')
		link(rel="stylesheet", href="./css/bootstrap.min.css")
		link(rel="stylesheet", href="./css/navbar.css")
		link(rel="stylesheet", href="./css/range-input.css")
		link(rel="stylesheet", href='./css/ruler.css')
		link(rel="stylesheet", href='./css/colorPicker.min.css')
		link(rel="stylesheet", href='./css/fileinput.min.css')


	body

		#wrapper.wrapper
			.collapse.navbar-collapse
				.nav.navbar-nav.side-nav-left
					mixin side-item(id, description)
						li
							a(href="#", data-toggle="collapse", data-target="#"+id+"-collapse")=description
							div.collapse.panel-second-list(id=id+"-collapse")
								block

					+side-item("model-selection", "Select your model")
						ul: li: div.btn-group(data-toggle="buttons")
							each val, index in models
								label.btn.btn-default(id=index, data-target="#"+index+"-panel", data-toggle="collapse")
									input(type="radio", autocomplete="off")
									span=val.name

					+side-item("model-adjustion", "Adjust your model")
						ul: li: div#parameters.panel-group
							each val, index in models
								div.panel-collapse.collapse.in(id=index+"-panel")
									each param, item in val.param
										.input-group.input-group-html5(id=param.name)
											span.input-group-addon= param.name
											span.input-group-addon.addon-range
												input(
													id=param.name+"-range",
													type="range",
													min=param.min*2000,
													max=param.max*2000,
													value=param.val*2000
												)
											input.form-control(
												id=param.name+"-text",
												value=param.val
											)
										br

					+side-item("surface-design", "Design for your own")
						ul
							li: button.btn.btn-default(type="button", data-toggle="modal", data-target="#gallery-modal") Insert image
							li:  button.btn.btn-default(type="button", data-toggle="modal", data-target="#text-modal") Insert text
	
		mixin modal(id, title)
			.modal.fade(id=id+"-modal", tabindex=-1)
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							button(type="button", class="close", data-dismiss="modal"): span &times;
							h4.modal-title= title

						.modal-body
							block

		+modal('gallery', 'All images are presented here~')
			input#upload-image(type="file")

		+modal('text', 'Figure out a better slogan?')

	script(src="./js/vendors/jquery-1.11.2.min.js")
	script(src="./js/vendors/jquery.nav.min.js")
	script(src="./js/vendors/bootstrap.min.js")
	script(src="./js/vendors/fileinput.min.js")
	script(src="./js/vendors/three.min.js")
	script(src="./js/vendors/tween.min.js")
	script(src='./js/vendors/TrackballControl.min.js')
	script(src='./js/vendors/fabric.min.js')
	script(src='./js/vendors/modernizr.js')
	script(src='./js/vendors/ruler.js')
	script(src="./js/vendors/colorPicker.min.js")
	script(src="./js/Tautology.min.js")
	script(src="./js/UI.min.js")
	script(src="./js/models.js")
	script(src="./js/Tests.js")
