doctype html

html(lang="en")
	head
		meta(charset="utf-8")
		title('Moquet Dezine')
		link(rel="stylesheet", href="./css/bootstrap.min.css")
		link(rel="stylesheet", href="./css/navbar.css")
		link(rel="stylesheet", href="./css/range-input.css")
		link(rel="stylesheet", href='./css/ruler.css')
		link(rel="stylesheet", href='./css/colorPicker.min.css')
		link(rel="stylesheet", href='./css/fileinput.min.css')


	body
		#wrapper.wrapper

			mixin side-item(id, description)
				li
					a(href="#", data-toggle="collapse", data-target="#"+id+"-collapse")=description
					div.collapse.panel-second-list(id=id+"-collapse")
						block

			mixin slider(model, name, min, max, val)
				.input-group.input-group-html5(id=model+'-'+name)
					span.input-group-addon= name
					span.input-group-addon.addon-range
						input(id=model+'-'+name+"-range", type="range", min=min*2000, max=max*2000, value=val*2000)
					input.form-control(id=model+'-'+name+"-text", value=val)


			#wrapper.wrapper
				.collapse.navbar-collapse
					.nav.navbar-nav.side-nav-left

						+side-item("file-management", "管理我的设计")
							ul
								li: button.btn.btn-default(id="save", type="button") 保存我现在的设计
								li: button.btn.btn-default(type="button") 载入以前的设计

						+side-item("model-selection", "选择模型")
							ul: li: div.btn-group(data-toggle="buttons")
								each val in models
									label.btn.btn-default.model-select-button(id=val.name+"-button", data-target="#"+val.name+"-panel", data-toggle="collapse")
										input(type="radio", autocomplete="off")
										span=val.name

						+side-item("model-adjustion", "调节你的模型")
							ul: li: div#parameters.panel-group
								each val in models
									div.panel-collapse.collapse(id=val.name+"-panel", data-parent="#parameters")
										each param, item in val.param
											+slider(val.name, param.name, param.min, param.max, param.val)
											br

						+side-item("surface-design", "设计表面的图案")
							ul
								li: button#color.btn.btn-default(type="button") 更改底色

								li: button.btn.btn-default(type="button", data-toggle="modal", data-target="#gallery-modal") 插入图片
								li: button.btn.btn-default(type="button", data-toggle="modal", data-target="#text-modal") 插入文字
								li: button.btn.btn-primary(id="deleteButton", type="button") 删除选中的文字/图片


		
			mixin modal(id, title)
				.modal.fade(id=id+"-modal", tabindex=-1)
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button(type="button", class="close", data-dismiss="modal"): span &times;
								h4.modal-title= title

							.modal-body
								block

			+modal('gallery', 'All images are presented here~')
				div: input#upload-image(type="file")

				#image-container.col-md-10
					- for (var i = 1; i <= 25; ++i) {
						a(href='#'): img.select.col-md-3(src="./images/public_logos/"+i+".png")
					- }
						
							

			+modal('text', 'Figure out a better slogan?')
				form
					.form-group: input#text.form-control
					.form-group: +slider("text", "Size", 10, 30, 20)
					.form-group: +slider("text", "Kerning", -5, 5, 0)
				button#confirm-text.btn.btn-primary(href="#") Insert text

			#page-wrapper.page-wrapper: .container-fluid: .row: .col-md-12
				#three-viewport.panel.panel-default
				#viewContainer.panel.panel-default(height=200)
					#scrollView: canvas#two-viewport.container-fluid


	script(src="./js/vendors/jquery-1.11.2.min.js")
	script(src="./js/vendors/jquery.nav.min.js")
	script(src="./js/vendors/bootstrap.min.js")
	script(src="./js/vendors/fileinput.min.js")
	script(src="./js/vendors/three.min.js")
	script(src="./js/vendors/tween.min.js")
	script(src='./js/vendors/TrackballControl.min.js')
	script(src='./js/vendors/fabric.min.js')
	script(src='./js/vendors/modernizr.js')
	script(src='./js/vendors/ruler.js')
	script(src="./js/vendors/colorPicker.min.js")
	script(src="./js/Tautology.min.js")
	script(src="./js/UI.min.js")
	//- script(src="./js/models.js")
	script(src="./js/Tests.js")
